/* 
 import files
*/
/* Color List */
/* Font Family */
/* a href tag*/
/* Mobile */
/* tablets */
header {
  background: #E32636;
}

.title {
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  background: #FFBF00;
}

@media only screen and (max-width: 460px) {
  .title {
    font-size: 15px !important;
  }
}

@media only screen and (max-width: 800px) {
  .title {
    font-size: 30px;
  }
}

.topnav {
  background: #0048BA;
}

.topnav ul {
  background: #0048BA;
  width: 100%;
  font-size: 25px;
  list-style: none;
  float: left;
}

@media only screen and (max-width: 460px) {
  .topnav ul {
    font-size: 15px !important;
  }
}

@media only screen and (max-width: 800px) {
  .topnav ul {
    font-size: 20px;
  }
}

.topnav ul li {
  display: inline-block;
}

@media only screen and (max-width: 460px) {
  .topnav ul li {
    display: block;
  }
}

.topnav ul li a {
  color: #FFBF00;
  text-align: center;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.topnav ul li a:hover {
  color: #FDEE00;
}

.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown .dropdown-content {
  display: none;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  position: absolute;
  z-index: 1;
  min-width: 160px;
  background: #E32636;
}

@media only screen and (max-width: 460px) {
  .dropdown .dropdown-content {
    min-width: 100px;
  }
}

@media only screen and (max-width: 800px) {
  .dropdown .dropdown-content {
    min-width: 100px;
  }
}

.dropdown .dropdown-content a {
  color: #FFBF00;
  text-align: center;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
  display: block;
  border-bottom: 1px #000000 solid;
}

.dropdown .dropdown-content a:hover {
  color: #FDEE00;
}

.dropdown .dropdown-content a:first-child, .dropdown .dropdown-content a:last-child {
  border-bottom: none;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.left {
  float: left;
}

.right {
  float: right;
}

.wrapper {
  margin-top: 20px;
  clear: both;
}

.row {
  display: -ms-grid;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.5em;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 460px) {
  .row {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 800px) {
  .row {
    grid-template-columns: 1fr;
  }
}

.row3 {
  display: -ms-grid;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0.5em;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 460px) {
  .row3 {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 800px) {
  .row3 {
    grid-template-columns: 1fr;
  }
}

.row4 {
  display: -ms-grid;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 0.5em;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 460px) {
  .row4 {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 800px) {
  .row4 {
    grid-template-columns: 1fr;
  }
}

ul.list, ol.list {
  list-style-type: square;
}

ul.card {
  list-style: none;
  border: 1px solid #000000;
  border-radius: 5px;
  width: 50%;
  color: #FFFFFF;
}

ul.card li {
  padding: 5px 10px;
  background: gray;
  border-bottom: 1px solid #000000;
}

ul.card li:last-child {
  border: none;
}

ul.card li:first-child {
  background: #4d4d4d;
}

ul.card li:not(:first-child):hover {
  background: #E32636;
}

form.formstyle {
  background: #FF8B00;
  overflow: hidden;
  border: 1px solid #000000;
  border-radius: 5px;
}

form.formstyle input[type="text"],
form.formstyle input[type="email"],
form.formstyle input[type="number"] {
  width: 200px;
  padding: 5px 10px;
  border: 1px solid #000000;
  border-radius: 5px;
}

form.formstyle input[type="text"]:focus,
form.formstyle input[type="email"]:focus,
form.formstyle input[type="number"]:focus {
  border: 2px solid #0048BA;
}

form.formstyle input[type="submit"],
form.formstyle input[type="reset"] {
  display: inline-block;
  text-align: center;
  padding: 5px 10px;
  border: 1px solid #000000;
  border-radius: 5px;
  color: #FFFFFF;
  background-color: #E32636;
  transition: background-color 0.5s ease-in-out;
}

form.formstyle input[type="submit"]:hover, form.formstyle input[type="submit"]:focus,
form.formstyle input[type="reset"]:hover,
form.formstyle input[type="reset"]:focus {
  background: #0048BA;
}

button {
  text-align: center;
  padding: 10px 15px;
  color: #FFFFFF;
  background-color: #E88E5A;
  transition: background-color 0.5s ease-in-out;
  border: 1px solid #000000;
  border-radius: 5px;
}

button:hover {
  background-color: #FF8B00;
}

button.primary {
  color: #000000;
  background-color: #FDEE00;
  transition: background-color 0.5s ease-in-out;
}

button.primary:hover {
  background-color: #FFBF00;
}

button.secondary {
  background-color: #00308F;
  transition: background-color 0.5s ease-in-out;
}

button.secondary:hover {
  background-color: #72A0C1;
}

button.warning {
  background-color: #AF002A;
  transition: background-color 0.5s ease-in-out;
}

button.warning:hover {
  background-color: #E32636;
}

table {
  text-align: center;
  border: 1px solid #000000;
  background-color: #E32636;
}

table td {
  border: 2px solid #000000;
}

table th {
  font-size: 25px;
  padding: 5px 10px;
  background-color: #FF8B00;
}

table tbody {
  font-size: 20px;
}

footer {
  background: #FFBF00;
  font-size: 30px;
  overflow: hidden;
}

.topnav ul li a, ul.list, ol.list, ul.card, form.formstyle {
  margin: 14px 16px;
}

.title {
  padding: 14px 16px;
}

ul.list li, ol.list li, form.formstyle input[type="text"],
form.formstyle input[type="email"],
form.formstyle input[type="number"], form.formstyle input[type="submit"],
form.formstyle input[type="reset"], button {
  margin: 8px 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/* a href tag*/
/* Mobile */
/* tablets */
/*# sourceMappingURL=style.css.map */