doctype
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title CSS testing
        link(rel="stylesheet", href="./css/style.css")
        link(rel="shortcut icon", href="favicon.icon", type="image/png")
    body
        header
            .title
                h1 Website title
            nav.topnav
                ul
                    li: a(href="#", title="title" claas="active") Home
                    li: a(href="#", title="title") Services
                    li.dropdown: a(href="#", title="title") Examples 
                        .dropdown-content
                            a(href="#", title="title") test1
                            a(href="#", title="title") test2
                            a(href="#", title="title") test3
        main.wrapper
            .row
                .col-1
                    p
                    |Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius quidem perferendis deserunt, numquam ipsam totam mollitia aperiam accusamus, ea, neque accusantium libero et ipsum molestias laboriosam nulla eos porro culpa officiis quam non ab? Sint ad cum saepe praesentium. Odio, nobis porro consequuntur necessitatibus dicta provident temporibus nisi quae magni! Maiores cum atque nulla illum eum quidem, obcaecati corrupti odit assumenda tempore labore incidunt inventore doloribus ipsum, nemo dolorem natus veniam reiciendis?
                    br
                    | Repellendus mollitia dicta quibusdam enim atque id esse impedit maxime porro vero, deserunt cupiditate veritatis sed laboriosam cumque voluptatibus nulla praesentium maiores ipsa. Dolore porro non tempore praesentium.
                .col-2
                    p
                    |Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur, cumque quasi omnis quaerat temporibus reprehenderit. Iure nihil assumenda voluptatum. Facilis ex iure placeat quam. Repellendus officia a minus blanditiis possimus, maiores tempora, doloribus ea molestias voluptatibus, ab quas qui ipsa earum eos? Doloribus blanditiis, illo reprehenderit similique iste sequi magni deserunt inventore unde maiores eveniet doloremque quibusdam cupiditate iusto autem nisi deleniti quidem rerum minus ratione cumque nesciunt. Fuga deleniti voluptatem consequuntur id, alias, ratione tempore numquam esse pariatur minus eos voluptas eius recusandae ullam labore impedit, delectus quibusdam. At, in quasi! Voluptas perspiciatis nesciunt at architecto ex ab omnis?
                .col-3
                    p
                    |Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur, cumque quasi omnis quaerat temporibus reprehenderit. Iure nihil assumenda voluptatum. Facilis ex iure placeat quam. Repellendus officia a minus blanditiis possimus, maiores tempora, doloribus ea molestias voluptatibus, ab quas qui ipsa earum eos? Doloribus blanditiis, illo reprehenderit similique iste sequi magni deserunt inventore unde maiores eveniet doloremque quibusdam cupiditate iusto autem nisi deleniti quidem rerum minus ratione cumque nesciunt. Fuga deleniti voluptatem consequuntur id, alias, ratione tempore numquam esse pariatur minus eos voluptas eius recusandae ullam labore impedit, delectus quibusdam. At, in quasi! Voluptas perspiciatis nesciunt at architecto ex ab omnis?

            ul(class="list primary")
                li Lorem ipsum dolor sit amet.
                li Lorem ipsum dolor sit amet.
                li Lorem ipsum dolor sit amet.
                li Lorem ipsum dolor sit amet.
                li Lorem ipsum dolor sit amet.
                li Lorem ipsum dolor sit amet.
                li Lorem ipsum dolor sit amet.
            form.formstyle

                input(type="text" name="name")
                br
                input(type="text" name="name")
                br
                input(type="submit" name="name")
            
            ul
                li
                    button(class="primary") Button-1
                li
                    button(class="secondary") Button-2
                li
                    button(class="warning") Button-3
                li
                    button Button-4
            table
                tr
                    th row1
                    th row2
                    th row3
                tbody
                    tr
                        td Data 1
                        td Data 1
                        td Data 1
                    tr
                        td Data 2
                        td Data 2
                        td Data 2
                    tr
                        td Data 3
                        td Data 3
                        td Data 3
            footer
                p 
                |&copy; 2017