%l-margin {
    margin: 14px 16px;
}
%l-padding {
    padding: 14px 16px;
}


%s-margin {
    margin: 8px 10px;
}

%center-img {
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}