
/* Color List */
$Ared:#E32636;
$Bred:#E52B50;
$Cred:#D3212D;
$Dred:#AF002A;

$Ayellow : #FFBF00;
$Byellow:#D3AF37;
$Cyellow : #FFE135;
$Dyellow:#FDEE00;

$Aorange:#FF8B00;
$Borange : #FF7E00;
$Corange : #F28E1C;
$Dorange:#E88E5A;

$black:#000000;
$white:#FFFFFF;

$Agreen : #34B334;
$Bgreen:#84DE02;
$Cgreen:#B0BF1A;
$Dgreen : #3B7A57;

$Ablue:#0048BA;
$Bblue:#72A0C1;
$Cblue : #7CB9E8;
$Dblue:#00308F;

/* Font Family */

$ff-lucida: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$ff-basic: Arial, Helvetica, sans-serif;
$ff-mono: Courier New, Courier, monospace;